@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,500;12..96,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/media/portadas/kinko.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.03; /* Ajusta la opacidad aquí */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

.font-montserrat{
    font-family: 'Montserrat', 'sans-serif';
}

.font-bricolage{
    font-family: 'Bricolage Grotesque', 'sans-serif';
}

.font-poppins{
    font-family: 'Poppins', 'sans-serif';
}

.font-inter{
    font-family: 'Inter', 'sans-serif'
}

/* CSS PERSONALIZADO DE ESTE ARCHIVO */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 120s linear infinite;
}